/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-datepicker
 *= require_tree .
 *= require_self

 */

@import  'bootstrap';
$header-img: image-url('roses.png');
$grey: #383838;

body {
  font-family: Garamond;
}

.hero-unit {
  background-image: $header-img;
  background-size: 1280px 221px;
  border-radius: 0;

  a {
    &:hover {
      text-decoration: none;
    }
    color: $grey;
  }
}

.scope {
  &.selected {
    background-color: #BFBFBF;
    background-image: none;
  }
}

table {
  margin-top: 10px;
}

// buttons

.btn {
  text-shadow: none;
  width: 92px;

  color: $grey;
  border-color: $grey;
  font-size: 16px;
  background: none;
  border-radius: 0;
  &:first-child, :last-child {
    border-radius: 0;
  }
  &.btn-primary {
    &:hover {
      background-color: $grey;
      color: white;
    }
  }
  a {
    color: $grey;
  }
}

.btn-group {
  .btn:first-child, .btn:last-child {
    border-radius: 0;
  }
}
